<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="~/CSS/site.css" rel="stylesheet" />
    <!-- JS -->
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">Lexicon</a>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
            </ul>
        </nav>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    <footer>
        <p>Made by: Ulf Bengtsson &copy;</p>
    </footer>

    <script>

        function LinkUpdate(urlPath, targetUpdate) {
            console.log('Link Url: ' + urlPath);
            console.log('Id Target: ' + targetUpdate);

            $.get(urlPath, function (res) {
                $('#' + targetUpdate).replaceWith(res);
            });
        }

        function LinkEdit(urlPath, targetUpdate, personId) {
            console.log('Edit Url: ' + urlPath);
            $.post(urlPath,
                {
                    Id: personId,
                    Name: $('#' + targetUpdate + 'Name').val(),
                    City: $('#' + targetUpdate + 'City').val(),
                    Phone: $('#' + targetUpdate + 'Phone').val()
                },
                function (res) {
                    $('#' + targetUpdate).replaceWith(res);
                });
        }

        function LinkCreate(urlPath) {
            console.log('Create Url: ' + urlPath);
            $.post(urlPath,
                {
                    name: $('#createName').val(),
                    city: $('#createCity').val(),
                    phone: $('#createPhone').val()
                },
                function (res) {
                    $('#peoplelist').append(res);
                });
        }

        function LinkFilter(urlPath) {
            $.post(urlPath,
                {
                    filter: $('#filterlist').val()
                },
                function (res) {
                    $('#peoplelist').html(res);
                });
        }
    </script>
</body>
</html>
